html,
body {
  color: seashell;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("./assets/images/sfondoFigo.png");
  background-color: #242323;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  overflow-x: hidden;
  /* overflow: hidden; */
}

@media (min-width: 1200px) {
  .content {
    margin-left: 10rem;
    padding-top: 5%;
    padding-bottom: 10%;
  }

  .boxImg {
    padding-top: 3em;
  }
  .containerAbout {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@media (min-width: 1445px) {
  .descrizione p {
    margin-top: 1em;
    margin-bottom: 4em;
  }

  .containerAbout {
    padding-top: 3%;
    padding-bottom: 4%;
  }
  .boxAbout {
    padding: 0;
  }
  .boxImg {
    margin-top: 5em;
  }

  .boxContacts {
    margin-top: 3rem;
    
  }
}

h2 {
  margin-bottom: 2em;
}
.sottotitoli {
  font-style: italic;
  color: rgb(3, 226, 152);
}
.App {
  text-align: center;
  overflow-y:auto;
  width:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  text-decoration: none;
}
.containerAbout {
  max-height: fit-content;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
ul {
  list-style: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Nav.Item Link {
  margin-right: 30px;
  
}

Form.Control {
  margin-bottom: 5em;
}

.customNavbar{
  border-bottom: 1px solid rgba(128, 128, 128, 0.367) !important;
}

.navBar {
  background-color: #283653 !important;
  border: 1 solid seashell !important;
  color: seashell !important;
  width: 100%;
  position:fixed;
  top:0;
  z-index:20000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3em;
  margin-top: 2em;
  padding-left: 2em;
  width:fit-content;
}

.nav-link {
  margin-right: 15px;
  letter-spacing: 1.2px;
  cursor:pointer;
}

.nav-link-selected{
  margin-right: 15px;
  /* margin-top:7px; */
  font-weight: 700;
  color: rgb(3, 226, 152);
}

.nav-link:hover {
  /* transform: scale(1.2); */
  font-weight: 700;
  color: rgb(3, 226, 152);
  font-weight: 500;
  font-style: italic;
  /* border: 1px solid rgb(3, 226, 152) */
}


.links-in-column{
  display: flex;
  justify-content:center;
  height:auto;
  width: 105px;
  /* border-right:1px solid rgba(128, 128, 128, 0.146);
  border-bottom:1px solid rgba(128, 128, 128, 0.146); */
  padding-bottom:10px;
  border-radius:5px;
}

.links-in-line{
  display:flex;
  flex-direction: row;
  width:100%;
  height: 50px;
}



.foto {
  width: 200px;
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 8em;
  box-shadow: 1px 1px 4px 2px rgb(5, 255, 172, 0.39);
  margin-top: 2em;
}

.profilo {
  border-radius: 4em;
}

/*  CONTACT PAGE */
.links-social-box{
  width:auto;
  gap:20px;
  background-color: black;
  padding:10px 15px 0 15px;
  margin:0;
  border-radius:8em;
  border: 1px solid rgba(5, 255, 172, 0.301);
  /* border: 1px solid #848c9449; */
  /* animation: BordoColorato 3s linear infinite; */
}

.icone{
  color: #dee2e69e;
}

.icone:hover {
  color: rgba(3, 226, 152, 0.662);
  transform: scale(1);
}

.campoForm{
  background-color: rgba(46, 45, 45, 0.236);
  color:white;
}

.campoForm:focus {
  border: 2px solid rgb(5, 255, 172);
  background-color: rgba(46, 45, 45, 0.236);
}

.campoForm::placeholder {
  color: #ffffff59;
  opacity: 1; 
}

.campoForm:-ms-input-placeholder { /* Per Internet Explorer 10-11 */
  color: #ffffff59;
}

.campoForm::-ms-input-placeholder { /* Per Microsoft Edge */
  color: #ffffff59;
}

.bordo {
  animation: BordoColorato 3s linear infinite;
  border-radius:5px;
}

@keyframes BordoColorato {
  0% {
    border: 0.5px solid rgb(5, 255, 172);
  }
  25% {
    border: 0.5px solid rgb(11, 238, 219);
  }
  50% {
    border: 0.5px solid rgb(18, 144, 247);
  }
  75% {
    border: 0.5px solid rgb(11, 238, 219);
  }
  100% {
    border: 0.5px solid rgb(5, 255, 172);
  }
}

Button,
h1 {
  color: rgb(3, 226, 152);
}

p {
  line-height: 1.9em;
  font-size: x-large;
}

.iconeSkills {
  margin: 0.5em;
}

.iconeSkills img {
  width: 65px;
  height: 65px;
  aspect-ratio: 1/1;
  margin-bottom: 1.5em;
}

@media (min-width: 992px) {
  .iconeSkills {
    flex: 0 0 calc(33.333% - 1em);
  }

  .frasi,
  .testo {
    font-size: xx-large;
  }
}

@media (max-width: 767px) {
  .iconeSkills {
    flex: 0 0 calc(50% - 1em);
  }
  .boxImg {
    justify-content: left;
  }
  .textAbout {
    font-size: larger;
  }
  .frasi {
    font-size: medium;
    margin-left: 0 !important;
    letter-spacing: 1.5px;
  }
  .frasi i {
    min-width: max-content;
    padding-left: 30px !important;
  }

  .links-social-box{
    padding: 8px 20px;
  }
  .customNavbar{
      width: min-content;
      border-radius: 5px;
      height: auto;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      border-right:1px solid rgba(128, 128, 128, 0.146);
      border-bottom:1px solid rgba(128, 128, 128, 0.146) ;
    }

    .link-list{
      display: flex ;
      flex-direction: column;
      height:auto;
      flex-wrap:wrap !important;
    }
    .linksContainer{
      height:auto;
      flex-wrap:wrap !important;
    }
}



/* HOME */
.bottoneCv, .bottone {
  border: 1px solid rgb(5, 255, 172);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.908);
  font-style:italic;
  padding: 10px ;
  background-color: transparent;
  letter-spacing:1.2px;
  text-align:center
}

.bottoneCv:hover, .bottone :hover{
  background-color: rgba(1, 28, 19, 0.704) !important;
  border-color: 1px solid rgb(0, 0, 0) !important;
}

.frasi {
  text-indent: 10px;
  margin-right: 23%;
  margin-left: 23%;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(5, 255, 172);
}
.frasi i {
  position: absolute;
  opacity: 0;
  overflow: hidden;

  padding-left: 50px;
  -webkit-animation: AlternateText 12s ease-in infinite 0s;
  -ms-animation: AlternateText 12s ease-in infinite 0s;
  animation: AlternateText 12s ease-in infinite 0s;
}
.frasi i:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: rgb(5, 255, 172);
}
.frasi i:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: rgb(5, 255, 172);
}
.frasi i:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: rgb(5, 255, 172);
}

@keyframes AlternateText {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 0;
  }
}

/*  ABOUT  */
.iconeSkills {
  transition: transform 3s;
  animation: EntryImg 3s linear 0.5s 1;
}

.iconeSkills:hover {
  transform: rotate(360deg);
}

@keyframes EntryImg {
  0% {
    transform: translate(-100px);
  }
  100% {
    transform: translate(0px);
  }
}

/*  PORTFOLIO */

.mini {
  font-size: small;
  font-style:italic;
  letter-spacing: 1.2px;
}

.carta {
  position: relative;
  overflow: hidden;
  min-width: min-content;
  max-height: 43rem;
  height: auto;
}

#carta {
  min-height: 350px;
}
#cartaQuiz,
#cartaWeather,
#cartaBlog
{
  min-height: 300px;
}


/* #storyX {
  min-height:500px;
} */


#cartaEnergia {
  min-height: 200px;
}

.info {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  background: linear-gradient(
    148deg,
    rgba(0, 10, 1, 0.549) 25%,
    rgba(6, 57, 14, 0.877) 49%,
    rgb(0, 1, 1) 75%,
    rgb(123 215 73 / 45%) 94%
  );
  /* background: linear-gradient(
    148deg,
    rgb(48 133 55) 25%,
    rgb(90 176 105 / 79%) 49%,
    rgba(0, 1, 1, 0.2861519607843137) 75%,
    rgb(123 215 73 / 45%) 94%
  ); */

  color: seashell;
  font-weight: bold;
  transition: bottom 1s ease-in-out;
}

.bottoneInfo {
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  border: 1px solid rgb(5, 255, 172) !important;
  margin-bottom:1em;
}

.bottoneInfo:hover{
  background-color: rgba(1, 28, 19, 0.704) !important;
  color: rgba(255, 255, 255, 0.699);
  border:1px solid rgba(5, 255, 172, 0.318) !important;
}

.bottone:hover {
  background-color: rgba(1, 28, 19, 0.704) !important;
  color: rgba(255, 255, 255, 0.699);
  border: 1px solid black !important;
}

.carta:hover .info {
  bottom: 0;
}
@keyframes ShowInfo {
  0% {
    transform: translateY(0px);
    padding-top: 0em;
  }
  50% {
    transform: translateY(20em);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-40em);
    background-color: rgba(5, 255, 172, 0.274);
    color: black;

    opacity: 1;
  }
}

.coverPortfolio {
  width: 100%;
  height: 100%;
}
